@()(implicit ctx: Context)

<!doctype html>
<html lang="en">
  <head>
    <meta name="fragment" content="!">
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="static.luanlv.info">
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">
    <title>Demo</title>
  </head>

  <body>
    <div id="app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="@jsLib("react.min.js")"></script>
    <script src="@jsLib("react-dom.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://unpkg.com/remarkable@@1.6.2/dist/remarkable.min.js"></script>
    <script src="@jsDev("admin.js")" ></script>
  </body>
</html>